// colors
$blue: #003cff;
$white: #ffffff;
$black: #000000;
$light-grey: #e0e0e0;
$dark-grey: #7e7e7e;
$red: #ff0000;
$green: #00ff00;
$yellow: #ffff00;
$orange: #ffa500;
$purple: #800080;
$brown: #a52a2a;
$light-blue: #add8e6;
$cyan: #00ffff;

// Themes
$primary-color: $blue;
$secondary-color: $black;
$tertiary-color: $white;
$primary-text-color: $black;
$secondary-text-color: $white;
$info-color: $cyan;
$danger-color: $red;
$success-color: $green;
$warning-color: $yellow;
$light-color: $light-grey;
$dark-color: $dark-grey;